Repository GlobalWebIndex/kamon-stackdriver, changes with the labels that .github/labeler.yml gives for each.
All labels: changed:tests, changed:benchmarks, changed:helm, changed:docs, dependency-update, chore

.github/labeler.yml:

# universal mappings
changed:tests:
- "**/*Test.scala"
changed:benchmarks:
- "**/*Benchmark.scala"
- "run-benchmarks.sh"
- "run-benchmarks-for-tag.sh"
changed:helm:
- "chart/**/*"
changed:docs:
- "**/*.md"
- "*.md"
dependency-update:
- "project/Dependencies.scala"
- "project/build.properties"
chore:
- ".drone.yml"
- "*.sbt"
- "project/*.sbt"
- "*.conf"

Upgrade dependencies to latest versions
  .scalafmt.conf
  build.sbt
  kamon-stackdriver/src/it/scala/kamon/stackdriver/StackdriverMetricReporterSpec.scala
  kamon-stackdriver/src/it/scala/kamon/stackdriver/StackdriverSpanReporterSpec.scala
  kamon-stackdriver/src/test/scala/kamon/stackdriver/HistogramToDistributionConverterSpec.scala
  project/plugins.sbt
Labels: chore

Update sbt to 1.3.8
  .drone.yml
  project/build.properties
Labels: dependency-update, chore

Swtch to adoptopenjdk8
  .drone.yml
  build.sbt
Labels: chore

Disable kamon-kanela banner
  kamon-stackdriver/src/it/resources/application.conf
Labels: none

Propagate to log information from MDC
  build.sbt
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverEncoder.scala
  kamon-logback-stackdriver/src/test/resources/application.conf
  kamon-logback-stackdriver/src/test/resources/logback-test.xml
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/ExtraStackdriverEncoder.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/RecordingAppender.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/StackdriverEncoderTest.scala
Labels: changed:tests, chore

Make it compile on Scala 2.12.x
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/StackdriverEncoderTest.scala
Labels: changed:tests

Update google-cloud-monitoring to 1.100.0
  build.sbt
Labels: chore

Update sbt to 1.3.9
  project/build.properties
Labels: dependency-update

Update google-cloud-core to 1.93.4
  build.sbt
Labels: chore

Update google-cloud-trace to 1.0.3
  build.sbt
Labels: chore

Update kamon-core, kamon-testkit to 2.1.0
  build.sbt
Labels: chore

Update kamon-logback to 2.1.0
  build.sbt
Labels: chore

Update sbt-scalafmt to 2.3.4
  project/plugins.sbt
Labels: chore

Update google-cloud-monitoring to 1.100.1
  build.sbt
Labels: chore

Update sbt to 1.3.10
  project/build.properties
Labels: dependency-update

Update scalafmt-core to 2.5.0
  .scalafmt.conf
Labels: chore

Update scalafmt-core to 2.5.1
  .scalafmt.conf
Labels: chore

Update scalafmt-core to 2.5.2
  .scalafmt.conf
Labels: chore

Update scalatest to 3.1.2
  build.sbt
Labels: chore

Update google-cloud-core to 1.93.5
  build.sbt
Labels: chore

Update sbt to 1.3.12
  project/build.properties
Labels: dependency-update

Update sbt-tpolecat to 0.1.12
  project/plugins.sbt
Labels: chore

Upgrade dependencies
  build.sbt
  project/plugins.sbt
Labels: chore

Update scalafmt-core to 2.5.3
  .scalafmt.conf
Labels: chore

Check scalafmt on CI
  .drone.yml
Labels: chore

Simplify .scalafmt.conf
  .scalafmt.conf
Labels: chore

Reformat
  build.sbt
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/JsonStringBuilder.scala
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverEncoder.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/StackdriverEncoderTest.scala
  kamon-stackdriver/src/main/scala/kamon/stackdriver/HistogramToDistributionConverter.scala
  kamon-stackdriver/src/main/scala/kamon/stackdriver/package.scala
Labels: changed:tests, chore

Update google-cloud-core to 1.93.6
  build.sbt
Labels: chore

Update scalafmt-core to 2.6.1
  .scalafmt.conf
Labels: chore

Update scalatest to 3.2.0
  build.sbt
Labels: chore

Update google-cloud-trace to 1.1.0
  build.sbt
Labels: chore

Update sbt-tpolecat to 0.1.13
  project/plugins.sbt
Labels: chore

Update sbt to 1.3.13
  project/build.properties
Labels: dependency-update

Update kamon-core, kamon-logback, ... to 2.1.2
  build.sbt
Labels: chore

Update kanela-agent to 1.0.6
  build.sbt
Labels: chore

Update scalafmt-core to 2.6.2
  .scalafmt.conf
Labels: chore

Update google-cloud-core to 1.93.7
  build.sbt
Labels: chore

Update kamon-core, kamon-logback, ... to 2.1.3
  build.sbt
Labels: chore

Update scalafmt-core to 2.6.3
  .scalafmt.conf
Labels: chore

markers spike
  build.sbt
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverEncoder.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/StackdriverEncoderTest.scala
Labels: changed:tests, chore
