Repository GlobalWebIndex/kamon-stackdriver, changes with the labels that .github/labeler.yml gives for each.
All labels: changed:tests, changed:benchmarks, changed:helm, changed:docs, dependency-update, chore

.github/labeler.yml:

# universal mappings
changed:tests:
- "**/*Test.scala"
changed:benchmarks:
- "**/*Benchmark.scala"
- "run-benchmarks.sh"
- "run-benchmarks-for-tag.sh"
changed:helm:
- "chart/**/*"
changed:docs:
- "**/*.md"
- "*.md"
dependency-update:
- "project/Dependencies.scala"
- "project/build.properties"
chore:
- ".drone.yml"
- "*.sbt"
- "project/*.sbt"
- "*.conf"

Update google-cloud-core to 1.93.9
  build.sbt
Labels: chore

Update google-cloud-trace to 1.2.2
  build.sbt
Labels: chore

Update scalafmt-core to 2.7.3
  .scalafmt.conf
Labels: chore

Update kamon-core, kamon-logback, ... to 2.1.7
  build.sbt
Labels: chore

Update kanela-agent to 1.0.7
  build.sbt
Labels: chore

Update scalafmt-core to 2.7.4
  .scalafmt.conf
Labels: chore

Update google-cloud-trace to 1.2.3
  build.sbt
Labels: chore

Update kamon-core, kamon-logback, ... to 2.1.8
  build.sbt
Labels: chore

Update scalafmt-core to 2.7.5
  .scalafmt.conf
Labels: chore

Update google-cloud-trace to 1.2.5
  build.sbt
Labels: chore

Upgrade sbt to 1.4.1
  .drone.yml
  project/build.properties
Labels: dependency-update, chore

Add LogValue.ArrayValue type
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/JsonStringBuilder.scala
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/BasicStackdriverMarkerTest.scala
Labels: changed:tests

Add mima plugin
  build.sbt
  project/plugins.sbt
Labels: chore

Update kanela-agent to 1.0.7 (#118)
  build.sbt
Labels: chore

Update scalatest to 3.2.2 (#106)
  build.sbt
Labels: chore

Update sbt-tpolecat to 0.1.14
  project/plugins.sbt
Labels: chore

Update sbt-tpolecat to 0.1.14 (#116)
  project/plugins.sbt
Labels: chore

Update sbt-scalafmt to 2.4.2
  project/plugins.sbt
Labels: chore

Update sbt-dynver to 4.1.1
  project/plugins.sbt
Labels: chore

Update sbt-dynver to 4.1.1 (#91)
  project/plugins.sbt
Labels: chore

Update sbt-scalafmt to 2.4.2 (#102)
  project/plugins.sbt
Labels: chore

Update google-cloud-core to 1.93.10
  build.sbt
Labels: chore

Update google-cloud-trace to 1.2.6
  build.sbt
Labels: chore

Update sbt to 1.4.2
  project/build.properties
Labels: dependency-update

Update scalatest to 3.2.3
  build.sbt
Labels: chore

Update google-cloud-trace to 1.2.7
  build.sbt
Labels: chore

Update sbt-tpolecat to 0.1.15
  project/plugins.sbt
Labels: chore

Update kamon-core, kamon-logback, ... to 2.1.9
  build.sbt
Labels: chore

Update spray-json to 1.3.6
  build.sbt
Labels: chore

Update sbt to 1.4.4
  project/build.properties
Labels: dependency-update

Update sbt-tpolecat to 0.1.16
  project/plugins.sbt
Labels: chore

Update google-cloud-trace to 1.2.8
  build.sbt
Labels: chore

Update sbt to 1.4.5
  project/build.properties
Labels: dependency-update

Update google-cloud-trace to 1.2.10
  build.sbt
Labels: chore

Update sbt to 1.4.6
  project/build.properties
Labels: dependency-update

Update kamon-core, kamon-logback, ... to 2.1.10
  build.sbt
Labels: chore

Update google-cloud-trace to 1.2.11
  build.sbt
Labels: chore

Update kamon-core, kamon-logback, ... to 2.1.11
  build.sbt
Labels: chore

Update sbt to 1.4.7
  project/build.properties
Labels: dependency-update

Update kamon-core, kamon-logback, ... to 2.1.12
  build.sbt
Labels: chore
