Repository GlobalWebIndex/kamon-stackdriver, changes with the labels that .github/labeler.yml gives for each.
All labels: changed:tests, changed:benchmarks, changed:helm, changed:docs, dependency-update, chore

LogValue
  build.sbt
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/JsonStringBuilder.scala
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverEncoder.scala
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/BasicStackdriverMarkerTest.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/StackdriverEncoderTest.scala
Labels: changed:tests, chore

removing logstash
  build.sbt
Labels: chore

ignore unknown markers
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverEncoder.scala
Labels: none

more json types
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/BasicStackdriverMarkerTest.scala
Labels: changed:tests

implicit encoder in constructor
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
Labels: none

improvements
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverEncoder.scala
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/BasicStackdriverMarkerTest.scala
Labels: changed:tests

no need to return in recursive function
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
Labels: none

import optimize
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
Labels: none

StackdriverAuditMarker
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/StackdriverAuditMarkerTest.scala
Labels: changed:tests

fixing deprecation warnings, removing audit
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/StackdriverAuditMarkerTest.scala
  kamon-stackdriver/src/main/scala/kamon/stackdriver/HistogramToDistributionConverter.scala
  kamon-stackdriver/src/main/scala/kamon/stackdriver/StackdriverSpanReporter.scala
Labels: changed:tests

fixing compilation warnings
  kamon-stackdriver/src/it/scala/kamon/stackdriver/StackdriverMetricReporterSpec.scala
  kamon-stackdriver/src/main/scala/kamon/stackdriver/HistogramToDistributionConverter.scala
  kamon-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMetricReporter.scala
Labels: none

reverting 2.12 incompatible changes
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
  kamon-stackdriver/src/it/scala/kamon/stackdriver/StackdriverMetricReporterSpec.scala
  kamon-stackdriver/src/main/scala/kamon/stackdriver/HistogramToDistributionConverter.scala
  kamon-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMetricReporter.scala
  kamon-stackdriver/src/main/scala/kamon/stackdriver/StackdriverSpanReporter.scala
Labels: none

fixing 2.12 & 2.13 compatibility
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
Labels: none

PR suggestions
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/JsonStringBuilder.scala
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
Labels: none

markers should be handled recursively
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverEncoder.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/StackdriverEncoderTest.scala
Labels: changed:tests

we should not trust marker keys
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverEncoder.scala
Labels: none

avoid encodeStringRaw
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
Labels: none

avoid converting to scala needlessly
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverEncoder.scala
Labels: none

remove useless function
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
Labels: none

imports cleanup
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/StackdriverEncoderTest.scala
Labels: changed:tests

fixing PR suggestions
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverEncoder.scala
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/BasicStackdriverMarkerTest.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/StackdriverEncoderTest.scala
Labels: changed:tests

implementors should be able to test this method
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
Labels: none

invalid jar published, trying again
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
Labels: none

[DMP-420] Support for markers (#98)
  build.sbt
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/JsonStringBuilder.scala
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverEncoder.scala
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/BasicStackdriverMarkerTest.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/StackdriverEncoderTest.scala
Labels: changed:tests, chore

Update kamon-core, kamon-logback, ... to 2.1.4
  build.sbt
Labels: chore

Update scalafmt-core to 2.6.4
  .scalafmt.conf
Labels: chore

Downgrade Google dependencies
  build.sbt
Labels: chore

Update release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: none

Update google-cloud-core to 1.93.7
  build.sbt
Labels: chore

Update google-cloud-trace to 1.1.0
  build.sbt
Labels: chore

Update scalatest to 3.2.1
  build.sbt
Labels: chore

Update google-cloud-trace to 1.2.0
  build.sbt
Labels: chore

Update google-cloud-core to 1.93.8
  build.sbt
Labels: chore

Update scalatest to 3.2.2
  build.sbt
Labels: chore

Update kamon-core, kamon-logback, ... to 2.1.5
  build.sbt
Labels: chore

Update kamon-core, kamon-logback, ... to 2.1.6
  build.sbt
Labels: chore

Update scalafmt-core to 2.7.0
  .scalafmt.conf
Labels: chore

Update scalafmt-core to 2.7.1
  .scalafmt.conf
Labels: chore

Update scalafmt-core to 2.7.2
  .scalafmt.conf
Labels: chore

Update google-cloud-trace to 1.2.1
  build.sbt
Labels: chore

.github/labeler.yml:

# universal mappings
changed:tests:
- "**/*Test.scala"
changed:benchmarks:
- "**/*Benchmark.scala"
- "run-benchmarks.sh"
- "run-benchmarks-for-tag.sh"
changed:helm:
- "chart/**/*"
changed:docs:
- "**/*.md"
- "*.md"
dependency-update:
- "project/Dependencies.scala"
- "project/build.properties"
chore:
- ".drone.yml"
- "*.sbt"
- "project/*.sbt"
- "*.conf"
