Repository GlobalWebIndex/kamon-stackdriver, changes with the labels that .github/labeler.yml gives for each.
All labels: changed:tests, changed:benchmarks, changed:helm, changed:docs, dependency-update, chore

Update scalatest to 3.2.5
  build.sbt
Labels: chore

dmp-745 add github repository
  .gitignore
  README.md
  build.sbt
  project/plugins.sbt
Labels: changed:docs, chore

making drone work
  .drone.yml
Labels: chore

fixing tests
  .drone.yml
Labels: chore

troubleshooting tests :-/
  build.sbt
Labels: chore

troubleshooting tests :-/
  .drone.yml
Labels: chore

we need to wait for #34 in sbt-github-packages
  .drone.yml
  build.sbt
Labels: chore

Update google-cloud-trace to 1.2.13
  build.sbt
Labels: chore

Update google-cloud-trace to 1.3.0
  build.sbt
Labels: chore

Update kanela-agent to 1.0.8
  build.sbt
Labels: chore

Update sbt to 1.4.9
  project/build.properties
Labels: dependency-update

Update scalatest to 3.2.6
  build.sbt
Labels: chore

publisghing using native maven plugin
  build.sbt
  project/plugins.sbt
Labels: chore

publisghing using native maven plugin
  build.sbt
Labels: chore

cleanup
  README.md
  build.sbt
Labels: changed:docs, chore

publish.sbt
  build.sbt
  publish.sbt
Labels: chore

troubleshooting
  build.sbt
  publish.sbt
Labels: chore

troubleshooting
  build.sbt
Labels: chore

cleanup
  build.sbt
Labels: chore

[DMP-745] GitHub repository (#145)
  .drone.yml
  .gitignore
  README.md
  build.sbt
Labels: changed:docs, chore

Update sbt-tpolecat to 0.1.17
  project/plugins.sbt
Labels: chore

Update kamon-core, kamon-logback, ... to 2.1.13
  build.sbt
Labels: chore

Update kamon-core, kamon-logback, ... to 2.1.15
  build.sbt
Labels: chore

Update kanela-agent to 1.0.9
  build.sbt
Labels: chore

Update scalatest to 3.2.7
  build.sbt
Labels: chore

Update google-cloud-trace to 1.3.1
  build.sbt
Labels: chore

Update google-cloud-trace to 1.3.2
  build.sbt
Labels: chore

Update kamon-core, kamon-logback, ... to 2.1.17
  build.sbt
Labels: chore

Update scalatest to 3.2.8
  build.sbt
Labels: chore

Update google-cloud-trace to 1.3.3
  build.sbt
Labels: chore

Update sbt-mima-plugin to 0.9.0
  project/plugins.sbt
Labels: chore

Update scala-library to 2.12.13
  build.sbt
Labels: chore

Update scala-library to 2.13.5
  build.sbt
Labels: chore

Update kamon-core, kamon-logback, ... to 2.1.18
  build.sbt
Labels: chore

Update sbt-mima-plugin to 0.9.1
  project/plugins.sbt
Labels: chore

Update google-cloud-trace to 1.3.4
  build.sbt
Labels: chore

Update scalatest to 3.2.9
  build.sbt
Labels: chore

Update sbt-tpolecat to 0.1.18
  project/plugins.sbt
Labels: chore

Update scala-library to 2.13.6
  build.sbt
Labels: chore

Update sbt-mima-plugin to 0.9.2
  project/plugins.sbt
Labels: chore

.github/labeler.yml:

# universal mappings
changed:tests:
- "**/*Test.scala"
changed:benchmarks:
- "**/*Benchmark.scala"
- "run-benchmarks.sh"
- "run-benchmarks-for-tag.sh"
changed:helm:
- "chart/**/*"
changed:docs:
- "**/*.md"
- "*.md"
dependency-update:
- "project/Dependencies.scala"
- "project/build.properties"
chore:
- ".drone.yml"
- "*.sbt"
- "project/*.sbt"
- "*.conf"
