Repository GlobalWebIndex/kamon-stackdriver, pull requests merged in 2020-07, with the labels that each got.

#98 [DMP-420] Support for markers
  build.sbt
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/JsonStringBuilder.scala
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverEncoder.scala
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/BasicStackdriverMarkerTest.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/StackdriverEncoderTest.scala
Labels: changed:tests, chore, feature

#101 Downgrade Google dependencies
  build.sbt
Labels: chore

#100 Update scalafmt-core to 2.6.4
  .scalafmt.conf
Labels: dependency-update
