Repository GlobalWebIndex/kamon-stackdriver, pull requests merged in 2020-10, with the labels that each got.

#124 Add LogValue.ArrayValue type
  .drone.yml
  build.sbt
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/JsonStringBuilder.scala
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverMarker.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/BasicStackdriverMarkerTest.scala
  project/build.properties
  project/plugins.sbt
Labels: changed:tests, chore, dependency-update

#121 Update kamon-core, kamon-logback, ... to 2.1.8
  build.sbt
Labels: chore

#118 Update kanela-agent to 1.0.7
  build.sbt
Labels: chore

#106 Update scalatest to 3.2.2
  build.sbt
Labels: chore

#116 Update sbt-tpolecat to 0.1.14
  project/plugins.sbt
Labels: chore, dependency-update

#91 Update sbt-dynver to 4.1.1
  project/plugins.sbt
Labels: chore

#102 Update sbt-scalafmt to 2.4.2
  project/plugins.sbt
Labels: chore, dependency-update
