Repository GlobalWebIndex/kamon-stackdriver, pull requests merged in 2020-03, with the labels that each got.

#65 Upgrade dependencies to latest versions
  .scalafmt.conf
  build.sbt
  kamon-stackdriver/src/it/scala/kamon/stackdriver/StackdriverMetricReporterSpec.scala
  kamon-stackdriver/src/it/scala/kamon/stackdriver/StackdriverSpanReporterSpec.scala
  kamon-stackdriver/src/test/scala/kamon/stackdriver/HistogramToDistributionConverterSpec.scala
  project/plugins.sbt
Labels: chore

#56 Update sbt to 1.3.8
  .drone.yml
  build.sbt
  project/build.properties
Labels: chore, dependency-update

#66 Propagate to log values from MDC
  build.sbt
  kamon-logback-stackdriver/src/main/scala/kamon/stackdriver/StackdriverEncoder.scala
  kamon-logback-stackdriver/src/test/resources/application.conf
  kamon-logback-stackdriver/src/test/resources/logback-test.xml
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/ExtraStackdriverEncoder.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/RecordingAppender.scala
  kamon-logback-stackdriver/src/test/scala/kamon/stackdriver/StackdriverEncoderTest.scala
  kamon-stackdriver/src/it/resources/application.conf
Labels: changed:tests, chore, dependency-update
